.modal {
  max-width: calc(100% - 30px);

  @media (width >= 1200px) {
    width: 860px;
    min-width: 860px;
  }
}

.iframe {
    width: 100%;
    height: 400px;

    @media (width >= 1200px) {
        height: 600px;
    }
}
