@custom-media --desktop-viewport (min-width: 1200px);

body {
  position: relative;

  overflow-y: auto;

  height: 100dvh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.root {
  display: flex;
  width: 100%;
  min-height: 100dvh;
}

.header {
  position: sticky;
  z-index: 1;
  top: 0;
}

.content {
  margin: 0 15px;

  @media (width >= 1200px) {
    width: 860px;
    margin: 0 auto;
  }
}
